@media screen and (max-width: 768px) {
    #navbar {
        align-items: center;
    }

    #navbar .my-logo {
        margin-bottom: 1rem;
    }

    #navbar ul {
        flex-direction: column;
    }

    #navbar ul li {
        padding: 10px;
    }


    #home-a .specials {
        display: block;
    }

    #home-a .specials div {
        margin: 10px;
    }

    #main-footer {
        position: relative;
    }

    #main-footer .footer-content .social .fab {
        padding: 4px;
    }

    .my-i {
        flex-direction: column;
    }

    .items {
        display: flex;
        flex-direction: column;
    }

    .contact {
        flex-direction: column;
    }

    .contact-content {
        width: 100%;
    }
    
    .contact-img {
        width: 100%;
    }


}